<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    @Styles.Render("~/unify/globalcss")
    @Styles.Render("~/unify/headfoot")
    @Styles.Render("~/unify/csspluguns")
    @Styles.Render("~/unify/pricing")
    @Styles.Render("~/unify/custom")
    @Styles.Render("~/unify/color")

</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="container">

                <a class="logo" href="index.html">
                    <img src="~/logo.png" alt="Logo" width="102px" height="38px">
                </a>

                <div class="title-v1" style="color:red; text-align:right; margin-top:10px;margin-right:30px; margin-bottom:-10px">
                    <h3 style="color:red">
                        @if (ViewBag.Phone != null)
                        { <strong>
                            @ViewBag.Phone
                        </strong> }
                        else
                        { <strong> Автоэвакуатор (круглосуточно) : (846) 274-55-66 </strong> }
                    </h3>
                </div>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="container">
                    @Html.Partial("~/Views/Master/MainMenu.cshtml")
                </div>
                <!--/end container-->
            </div>
            <!--/navbar-collapse-->
        </div>
        <div>
            @RenderBody()
        </div>

        @Html.Partial("~/Views/Master/ButtomMenu.cshtml")

        <noscript><div><img src="https://mc.yandex.ru/watch/33952599" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

    </div>

    <!-- JS Global Compulsory -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/jscustom")
    @Scripts.Render("~/bundles/pagelevel")
    @Scripts.Render("~/bundles/yandex")


    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            ContactPage.initMap();
            OwlCarousel.initOwlCarousel();
        });
    </script>
    <!--[if lt IE 9]>
        <script src="assets/plugins/respond.js"></script>
        <script src="assets/plugins/html5shiv.js"></script>
        <script src="assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->

</body>
</html>
