<ul class="nav navbar-nav">
    <li>
        <a href='@Url.Action("Index", "Home")' target="_blank" class="dropdown-toggle" style="font-weight:bold">
            Главная
        </a>
    </li>
    <li>
        <a href='@Url.Action("Index", "Evacuation")' class="dropdown-togle" style="font-weight:bold">
            Эвакуатор <span style="font-weight: bold; color: red;">SOS!&reg;</span>
        </a>
    </li>
    <li class="dropdown">
        <a href='@Url.Action("Index", "CarService")' style="font-weight:bold">
            Автосервис
        </a>
        <ul class="dropdown-menu">
            <li><a href='@Url.Action("PriceInomarki", "CarService")' style="font-weight:bold">Цены на ремонт Иномарок</a></li>
            <li><a href='@Url.Action("PriceRusskie", "CarService")' style="font-weight:bold">Цены на ремонт Отечественных авто</a></li>
            <li><a href='@Url.Action("Diagnostika", "CarService")' style="font-weight:bold">Диагностика автомобиля</a></li>
            <li><a href='@Url.Action("CompDiagnostika", "CarService")' style="font-weight:bold">Компьютерная диагностика двигателя</a></li>
            <li><a href='@Url.Action("Motory", "CarService")' style="font-weight:bold">Ремонт моторов</a></li>
            <li><a href='@Url.Action("MehKpp", "CarService")' style="font-weight:bold">Ремонт механической КПП</a></li>
            <li><a href='@Url.Action("Akpp", "CarService")' style="font-weight:bold">Ремонт автоматической КПП</a></li>
            <li><a href='@Url.Action("Hodovaya", "CarService")' style="font-weight:bold">Ремонт ходовой</a></li>
            <li><a href='@Url.Action("BreakSystem", "CarService")' style="font-weight:bold">Ремонт тормозной системы</a></li>
            <li><a href='@Url.Action("Slesar", "CarService")' style="font-weight:bold">Слесарные работы</a></li>
            <li><a href='@Url.Action("Parts", "CarService")' style="font-weight:bold">Заказ автозапчастей</a></li>
            <li><a href='@Url.Action("DiagHodovka", "CarService")' style="font-weight:bold">Диагностика ходовой части</a></li>
            <li><a href='@Url.Action("MasloAkpp", "CarService")' style="font-weight:bold">Замена масла АКПП</a></li>
            <li><a href='@Url.Action("TO", "CarService")' style="font-weight:bold">Регулярное ТО</a></li>
        </ul>
    </li>

    <li class="dropdown">
        <a href='@Url.Action("Index", "Taxi")' style="font-weight:bold">
            Такси
        </a>
        <ul class="dropdown-menu">
            <li><a href='@Url.Action("Index", "Taxi")' style="font-weight:bold"><span style="font-weight: bold; color: red;">VIP</span> Такси</a></li>
            <li><a href='@Url.Action("Transfer", "Taxi")' style="font-weight:bold">Трансфер</a></li>
            <li><a href='@Url.Action("MejGorod", "Taxi")' style="font-weight:bold">Такси межгород</a></li>
            <li><a href='@Url.Action("Voditel", "Taxi")' style="font-weight:bold"><span style="font-weight: bold; color: red;">Трезвый водитель&reg;</span></a></li>
        </ul>
    </li>
    <li>
        <a href='@Url.Action("Index", "Contacts")' class="dropdown-toggle " style="font-weight:bold">
            Контакты
        </a>
    </li>
    <!-- End Features -->
</ul>